@model IEnumerable<Product>


@{
	ViewData["Title"] = "List of Products";
}

<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<table class="table" >
			<thead>
				<tr class="text-center">
					<th>@Html.DisplayNameFor(model=>model.ProductName)</th>
					<th>@Html.DisplayNameFor(model=>model.CampaignCount)</th>
					<th>Actions</th>
				</tr>

			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr class="text-center">
						<td class="align-middle">
							@Html.DisplayFor(modelItem =>item.ProductName)
						</td>
						<td class ="align-middle">
							@Html.DisplayFor(modelItem =>item.CampaignCount)
						</td>
						<td class="align-middle">
							<a class="btn btn-outline-primary" >Edit product name</a>
							<a class="btn btn-outline-info">Details</a>
							<a class="btn btn-outline-danger">Delete</a>

						</td>

					</tr>


				}


			</tbody>


		</table>
	</div>

</div>
<div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
	<a asp-controller="Products" asp-action="Create" class="btn btn-success">Add New</a>

</div>